.profile{
    position: relative;
    display: grid;
    top:20px;
    width: 100%;
    grid-template-columns: auto auto auto;
    background-color: rgb(250, 242, 241);
}
.name{
    position: relative;
    top: 0px;
    left: 20px;
    
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}
.address{
    position: relative;
    top: 30px;
}
.namebar{
    
    font-family: Verdana;
    background-color: aliceblue;
    position: relative;
    top: 30px;
    left: 30px;
    width: 97%;
    columns: 2;
    overflow: hidden;

}
.pic{
    position: relative;
    top: 0px;
    columns: 2;
}

.titlebar{
    position: relative;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkgrey;
    color: beige;
    
}
.title{
    position: relative;
    left: 10px;
    top: auto;
    width: 90%;
}
.edu{
    position: relative;
    background-color: bisque;
    top: 30px;
    text-align: center;
    font-family: Tahoma;
}

.eduitem{
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: relative;
    top: 10px;
    left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dimgrey;
    background-color: rgb(226, 236, 241);
    font-size: medium;
    width: 95%;
}
.evenColumn{
    position: relative;
    left: 10px;
    
}
.section{

    position: relative;
    text-align: center;
    top: 20px;
    background-color:bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.projectItem{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    display: grid;
    grid-template-columns: 40% auto;
    background-color: rgb(226, 236 ,241);
    left: 10px;
    top: 5px;
    width: 98%;
}

.projectItemEven{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    display: grid;
    grid-template-columns: 40% auto;
    background-color: rgb(167, 211, 233);
    left: 10px;
    top: 5px;
    width: 98%;
}