    .profile {
        position: relative;
        top: 20px;
        grid-template-columns: auto auto;
        display: grid;
        background-color: antiquewhite;
    }
    
    .name {
        position: relative;
        top: 30px;
        left: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }
    
    .address {
        position: relative;
        top: 30px;
        left: 20px;
        width: 90%;
        text-align: left;
    }
    
    .namebar {
        font-family: Verdana;
        background-color: aliceblue;
        position: relative;
        top: 30px;
        left: 30px;
        width: 97%;
        columns: 2;
        overflow: hidden;
    }
    
    .media {
        position: relative;
        text-align: right;
    }
    
    .pic {
        position: relative;
        top: 121px;
        left: 10%;
        text-align: left;
    }
    
    .titlebar {
        position: relative;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: darkgrey;
        color: beige;
        top: 5px;
    }
    
    .title {
        text-align: center;
    }
    
    .edu {
        position: relative;
        background-color: bisque;
        top: 30px;
        text-align: center;
        font-family: Tahoma;
    }
    
    .eduitem {
        display: grid;
        grid-template-columns: 25% 35% auto auto;
        position: relative;
        top: 10px;
        left: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: dimgrey;
        background-color: rgb(226, 236, 241);
        font-size: medium;
        width: 95%;
        text-align: center;
        vertical-align: middle;
    }
    
    .evenColumn {
        position: relative;
        text-align: center;
        background-color: gainsboro;
    }
    
    .oddColumn {
        position: relative;
        text-align: center;
        background-color: rgb(217, 248, 241);
    }
    
    .section {
        position: relative;
        text-align: center;
        top: 20px;
        background-color: bisque;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .titleBack {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: relative;
        display: grid;
        grid-template-columns: 30% auto;
        background-color: white;
        left: 20px;
        top: 5px;
        width: 98%;
        font-size: medium;
        text-align: center;
    }
    
    .projectItem {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: relative;
        display: grid;
        grid-template-columns: 30% auto;
        background-color: rgb(220, 231, 225);
        left: 20px;
        top: 3px;
        width: 98%;
        font-size: medium;
        text-align: center;
    }
    
    .skillItem {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: relative;
        display: grid;
        grid-template-columns: 50% auto;
        background-color: rgb(206, 214, 224);
        left: 20px;
        top: 5px;
        width: 98%;
        font-size: medium;
    }
    
    .projectItemEven {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: relative;
        display: grid;
        grid-template-columns: 30% auto;
        background-color: rgb(234, 236, 226);
        left: 20px;
        top: 3px;
        width: 98%;
        font-size: medium;
        text-align: center;
    }
    
    .additional {
        position: relative;
        text-align: center;
        background-color: antiquewhite;
    }
    
    .additionalItem {
        position: relative;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: medium;
        left: 10px;
        background-color: rgb(224, 206, 168);
    }
    
    .additionalItemEven {
        position: relative;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: medium;
        left: 10px;
        background-color: azure;
    }
    
    .accademic {
        position: relative;
        background-color: cornsilk;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: medium;
    }